<% layout('Layout/boilerplate') %>


    <div class="row">
        <h1 class="text-center">Update Campground Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%=foundCampground._id%>?_method=PUT" method="POST" novalidate
                class='validated-form' enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]"
                        value="<%=foundCampground.title %>" required>
                    <div class="valid-feedback">
                        Looks Good
                    </div>
                </div>
                <div class="mb-3">

                    <label for="image" class="form-label">Add to your campground pictures</label>
                    <input name="image" class="form-control" type="file" id="image" multiple>

                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Price</label>
                    <div class="input-group ">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="number" class="form-control" placeholder="0.00" aria-label="Price"
                            aria-describedby="price-label" name="campground[price]" value="<%= foundCampground.price%>"
                            required>
                        <div class="valid-feedback">
                            Looks Good
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control type=" text" id="location" name="campground[location]"
                        value="<%= foundCampground.location%>" required>
                    <div class="valid-feedback">
                        Looks Good
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control type=" text" id="location" name="campground[description]"
                        required><%= foundCampground.description%></textarea>
                    <div class="valid-feedback">
                        Looks Good
                    </div>

                    <div class="mb-3">
                        <% foundCampground.image.forEach((img,i)=>{ %>
                            <img class="img-thumbnail" alt="" src="<%=img.thumbnail%>">
                            <div class="form-check-inline">
                                <input type="checkbox" name="deleteImages[]" id="image-<%= i %>" value=<%=img.filename%>
                                >
                            </div>
                            <label for="image-<%= i %>">Delete</label>
                            <% }) %>
                    </div>
                </div>
                <button class="btn btn-info">Update Campground</button>
            </form>
            <a href="/campgrounds/<%=foundCampground._id%>">Back to Campground</a>
        </div>
    </div>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.validated-form')// add .validated -form as a class to the form you want to validate

            // Loop over them and prevent submission
            Array.from(forms)// This will turn forms into an array
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>

    <div class="valid-feedback">
        Looks Good
    </div>